<div class="row mx-6 w-75 mx-auto">
  <div class="col-sm-6 auto-scroll-height border">
    <h1>Upcoming events: <%=@upcoming_events.count%></h1>
    <div class="d-flex flex-column">
      <div>
        <%@upcoming_events.each do |event|%>
          <%= link_to event_path(event), class:'text-decoration-none' do%>
            <%=render event%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm-6 auto-scroll-height border">
    <h1>Past events: <%=@past_events.count %></h1>
    <div class="d-flex flex-column">
      <div>
        <%@past_events.each do |event|%>
          <%= link_to event_path(event), class:'text-decoration-none' do%>
            <%=render event%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
